<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Nice. It's looking good already.</h1>
    <ul>
    {{ range $.Site.Home.AllTranslations }}
    <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
    {{ end }}
    </ul>
    <ul>
      {{ $pages := .Site.RegularPages }}
      {{ range .Site.Home.Translations }}
        {{ $pages = $pages | lang.Merge .Site.RegularPages }}
      {{ end }}
      {{ range (where $pages "Section" "blog") }}
      <li>
        <a href="{{ .RelPermalink }}">
          {{ .Title }}
        </a>
        <p class="summary">{{ .Summary }}</p>
      </li>
      {{ end }}
    </ul>
  </body>
</html>
